.paypal-logo {
  background: transparent url("https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-mark-color.svg") top center no-repeat;
  background-size: contain;
  width: 38px;
  height: 45px;
  display: block;
  margin: 0 auto 29px;
}