.fieldWrapper {
  position: relative;
  margin-bottom: 16px;
}

input {
  width: 100%;
  height: 48px;
  padding: 20px 16px 8px;
  border: 1px solid #9198A0;
  border-radius: 4px;
  font-size: 16px;
  background: white;
  color: #001435;
  transition: all 0.2s ease;
}

.fieldLabel {
  position: absolute;
  left: 16px;
  top: 8px;
  font-size: 14px;
  color: #6c7378;
  pointer-events: none;
}