@font-face {
  font-family: 'pp-open-regular';
  src: url('https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'pp-open-medium';
  src: url('https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'pp-open-bold';
  src: url('https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Bold.woff2') format('woff2');
  font-display: swap;
}